
    @media(min-width:400px)
    {.user{
    size:1px;

    }}
    .center1{
      margin-top: 3%;
      // margin-bottom: 3%;
    }
   .img{
  
    margin-left: 200px;
   }
    .username
  {
    margin-right: 10%;

    }
    .imag{
      height: 244px;
      width: 24%;
   
    }

    .image_footer{
      display:inline;
      text-align: center;
    }
    

  .content{
  font-size:10;
  
  }
  .card{
    display:flex;
    justify-content: center;
   flex-direction:column;
    margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  border-image-width:10;
  text-align: center;
  border-color: #d8dbdf;
  }
  
  .log{
  
    display:flex;
    justify-content: center;
    background-color: transparent;
  
  }
  .buttonsize{
  width: 222px;
  margin-left: 0%;
  
  
  }
  .butt{ 
    font-style: aria
  }
  .outer{
    min-height:webkit-fill-available
  }