.searchInput{
    display: flex;
    border:none;
    height: 47px;
    width: 55vw;
    background-color: #f1f3f3;
    border-radius: 8px;
    font-size: 15px;
    border-color: transparent;  
    outline: none;
    box-shadow: none;
}
.searchInput::-webkit-input-placeholder {
    color: #81878c;
    font-weight: lighter;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 40px;
}
.mat-icon-button{
    display: flex;
    outline: none;
 }
.sidenav{
    display: flex;
    // width: 22vw;
    position: absolute;
  
    // width: 23vw;
    border-right:none;  
    
    
  }
//   .abc{
//     width: 22vw;

//   }

  .mat-raised-button{

    display: flex;
    outline: none;
    border-color: transparent;
    box-shadow: none;
    height: 8vh;
    border-top-right-radius: 50px 50px;
   border-bottom-right-radius: 50px 50px;
  }
  .mat-raised-button:hover
{
    background-image:none;
    background-color:#f1f3f3;
    border-right: 50px 50px;
}
.mat-raised-button:focus {
    background-color: #fcefc3;
  }
.scroll{
    overflow-y: scroll;
    width: 100vw;
}
.content {

    background-color: white;
    // overflow-y: scroll;
        overflow-x: hidden;
      
}

.title{
    color: #5f6268;
    font-weight:inherit;
    font-size: 20px;
    font-family: Arial, sans-serif;
    min-width: 100px;
    white-space: nowrap;
    position:relative;
    }

.mat-toolbar{
    display:flex;
    background-color: white;
  
}
.mat-divider{
    color:lightgray;
}
.icon{
    width: 45;
    height: 45;
}
.searchButton{
    position: relative;
    width: 40p;
    height: 40px;
    background-color: rgba(236,232,226,0)
}
.name{
    color: #5f6268;
    font-weight:inherit;
    font-size: 12px;
    font-family: Arial, sans-serif;

}
.img1{
    background-color: gray;
}
.main
{
    display: flex;
  
    background-color: white;
}
.fname{
size:8px;
font-family:  Arial, sans-serif;
color:black;

}
.email{
color:gray;
size:8px;
font-family:  Arial, sans-serif;
}
.sbutton{
    size:0.5px;
    color:#f2f2f0;
    position: fixed;
    
    outline: transparent;

    margin-top: -2%;
    padding: 0px;
    border-bottom-left-radius: 270px;
    border-bottom-right-radius: 270px;
  
    background-color: #4b483c;

    opacity: 0.7;
    height:4vh;
    width: 5vw;
    margin-left: 1.5px;
    
}
    

.sign{
background-color: #f5f5f5;
outline-color: lightgray;
outline: none;

    
}
.signbutton{
    outline-color: lightgray;
    background-color: white;
    
}
// .mat-drawer-content {
//     width: 100vw;
//     // overflow: hidden;
//     height: 100vh;
// }


.color{
    background-color: lightgray;
    outline: none;
}


.img
{
    margin-top: 4%;
    width: 40px;
    margin-left: 7%; 
}
// .divider
// {
//     height: 100vh;
//     width: 100%;
// }
// .search
// {
//     background-color: rgba(230, 227, 227, 0.856); 
//      padding: 3px;   width: 77%; 
//      border-radius: 8px; 
// }
// .input
// {
//          width: 88%; 
//          font-size: 16px;
//          border: none !important;
//          background-color: rgba(230, 227, 227, 0.856); 
// }

// input.input:focus
// {
//     outline-width: 0;
    
// }
// .toolbar{
    
//      display: flex;
//     box-sizing: border-box;
//     padding: 0 16px;
//     width: 101%;
//     margin-top: -8px;
//     flex-direction: row;
//     align-items: center;
//     white-space: nowrap;
// }
// .img1{
//     background-color: gray;
// }

// // .accountCard{
// //     width:80px;
// //     height:80px;
// // }
// /deep/.mat-drawer-backdrop.mat-drawer-shown {
//     visibility: hidden !important;
// }   
// .labels1{
//     margin-left: 17px;
//     } 


// .list{
//     color:gray
// }


// .input1{
//     visibility: hidden;
//     margin-bottom: none !important;
// }
// .cont_div{
//     width:98vw;
    
// }


// .account{
//     margin-top: 102px;
//     margin-right: 8px;
//     margin-left: 75%;
//     padding: 5px;
//     width: 350px;
//     height: 200px;
//     float:right;
//     z-index: 100;
//     position: fixed;
//     }

    .img2{
        background-color: gray;
        border-radius: 50%
    }

// .menu{
//     min-width: 112px;
//     max-width: 350px;
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
//     max-height: calc(100vh - 48px);
//     border-radius: 4px;
//     outline: 0;
// }

.fileSelect{
    display: none;
}
.text_color{
  color:black;
}
// .name{
//     // min-width: 113px;
//     position:relative;
// }
// .allnotes{
//     width: 100vw;
//     height: 100vh;
// }




