<!-- for displaying the toolbar in dashbaoard -->
<div fxLayout="column" fxLayoutAlign="end" fxFlex="100" class="main">
  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutGap="10px" class="12">
        <div fxFlex="50">

          <button mat-button (click)="sidenav.toggle()" class="mat-icon-button">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxFlex="50">
          <img mat-img src="https://ssl.gstatic.com/keep/keep.ico" />
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="73" fxLayoutGap="10%">
        <div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="73" fxLayoutGap="5%" class="13">
            <div>
              <span class="title">{{header}}</span>
            </div>

            <div>
              <mat-card fxLayoutAlign="center center" class="searchInput">
                <button mat-icon-button class="searchButton">
                  <mat-icon>search</mat-icon>
                </button>
                <input mat-input class="searchInput" [(ngModel)]="searchText" (click)="search()"  placeholder="Search"
                (keyup)="searchmessage()" >
                <!-- <app-all-notes [childMessage]="searchText"></app-all-notes> -->
              </mat-card>
            </div>
          </div>
        </div>
        <div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="20" fxLayoutGap="15px" class="15">
            <div>
              <button mat-icon-button>
                <mat-icon>refresh</mat-icon>
              </button>
            </div>


            <div> <button mat-icon-button *ngIf="list" (click)="changeView()" fxShow="true">
                <img src="../../../assets/grid.svg">
              </button>
              <div> <button mat-icon-button *ngIf="grid" (click)="changeView()" fxShow="true">
                  <img src="../../../assets/list.svg">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end" fxFlex="100" class="16">

        <button mat-icon-button [matMenuTriggerFor]=usermenu>

          <img src="../../../assets/v.jpg" style="border-radius: 50%;height: 50px;width: 50px;">
        </button>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>


  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutAlign="start start" fxFlex="100" class="scroll">

    <!-- Open the sidenav bar after click on menu button in the dashboard -->
    <div fxLayout="column" fxLayoutAlign="start" fxFlex="30" class="abcd">
      <mat-sidenav-container>
        <mat-sidenav fxLayout="column" fxFlex="100" #sidenav mode="side" class="sidenav">
          <div fxLayout="column" fxFlex="100" fxLayoutGap="10px">
            <div>
              <div fxLayout="column" fxLayoutAlign="start-between" fxFlex="100" class="20">
                <div>

                  <button mat-raised-button fxFlex="97">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100" (click)='note()'>
                      <mat-icon>lightbulb_outline</mat-icon>
                      <span> Note</span>
                    </div>
                  </button>

                </div>

                <div>

                  <button mat-raised-button fxFlex="97">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100" (click)="headerName='notes'">
                      <mat-icon>notifications_none</mat-icon>
                      <span> Reminders</span>
                    </div>
                  </button>
                </div>

                <div>
                  <mat-divider></mat-divider>
                </div>

                <div>
                  <span class="name">LABELS</span>
                </div>


              </div>
            </div>
            <div>
              <div fxLayout="column" fxLayoutAlign="start-between" fxFlex="100">
                <div>




                  <div *ngFor="let item of addLabels | orderOf">

                    <span><button mat-raised-button fxFlex="97">

                        <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                          <div>
                            <mat-icon> <img src="../../../assets/outline-label-24px.svg"></mat-icon>
                          </div>
                          <div style="margin:25%">{{item.label}}</div>
                        </div>
                      </button>
                    </span>

                  </div>



                </div>
                <div>
                  <button mat-raised-button fxFlex="97" (click)="dialogOpen()">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                      <img src="../../../assets/outline-create-24px.svg">
                      <span style="margin:25%">edit label</span>
                    </div>
                  </button>
                </div>

                <mat-divider></mat-divider>
                <div>
                  <mat-divider class="divider"></mat-divider>
                  <button mat-raised-button fxFlex="97">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                      <img src="../../../assets/archive.svg">
                      <span style="margin:27%">Archive</span>
                    </div>
                  </button>
                </div>
                <div>
                  <button mat-raised-button fxFlex="97">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                      <img src="../../../assets/menuTrash.svg">
                      <span style="margin:30%">Trash</span>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-sidenav>
        <mat-sidenav-content class="content">
          <div >
            <div>
              <app-add-note></app-add-note>
            </div>
            <!-- <div fxLayout="row" fxFlex="90"> -->
              <div>
              <app-all-notes></app-all-notes>
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
  <mat-menu #usermenu="matMenu" fxLayout="row" fxFlex="100" class="menu">
    <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-around center">
      <div (click)="dialogImage()" fxLayoutGap="10px">&nbsp;
        <div> <img src="../../../assets/v.jpg" style="border-radius: 50%;height: 68px;width:68px">
          <div class="sbutton">
            &nbsp; change
          </div>
        </div>


        <div fxLayout="column" fxFlex="100" fxLayoutAlign="center">
          <div class="fname"><span>{{firstName}}&nbsp;{{lastName}}</span></div>
          <div class="email"><span>{{email}}</span></div>
        </div>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <!-- <div>
      <button mat-button class="sbutton">
        change</button>
    </div> -->

    <div>
      <mat-divider></mat-divider>
    </div>

    <div class="sign">
      &nbsp;
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="end space-evenly">

        <div>
          <button mat-menu-item (click)="onSignout()" routerLink="/login" class="signbutton">sign-out</button>
        </div>
      </div>
    </div>
  </mat-menu>
</div>