<!-- for displaying the toolbar in dashbaoard -->
<div fxLayout="column" fxLayoutAlign="end" fxFlex="100" class="main">
  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutGap="10px" class="12">
        <div fxFlex="50">

          <button mat-button (click)="sidenav.toggle()" class="mat-icon-button">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxFlex="50">
          <img mat-img src="https://ssl.gstatic.com/keep/keep.ico" />
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="73" fxLayoutGap="5%" class="13">
        <div>
          <span class="title">fundooNotes</span>
        </div>

        <div>
          <mat-card fxLayoutAlign="center center" class="searchInput">
            <button mat-icon-button class="searchButton">
              <mat-icon>search</mat-icon>
            </button>
            <input mat-input class="searchInput" placeholder="Search">
          </mat-card>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="20" fxLayoutGap="5px" class="15">
        <div>
          <button mat-icon-button>
            <mat-icon>refresh</mat-icon>
          </button>
        </div>

        <div> <button mat-icon-button>
            <mat-icon>view_agenda</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" fxFlex="20" class="16">
          <div fxLayout="row" fxLayoutAlign="end end" fxFlex>
            <button mat-icon-button (click)="sign()">
              <mat-icon>logout</mat-icon>
            </button>
            <div fxLayout="row" fxFlex="20" class="17">
              <mat-card *ngIf="flag===true">
                <button mat-icon-button>Logout</button>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutAlign="start start" fxFlex="100" class="scroll">
    <!-- Open the sidenav bar after click on menu button in the dashboard -->
    <div fxLayout="column" fxLayoutAlign="start" fxFlex="30" class="19">
      <mat-sidenav-container>
        <mat-sidenav fxLayout="column" fxFlex="100" #sidenav mode="side" class="sidenav">
          <div fxLayout="column" fxFlex="100" fxLayoutGap="10px">
            <div>
           <div fxLayout="column" fxLayoutAlign="start-between" fxFlex="100" class="20">
            <div>

              <button mat-raised-button fxFlex="97">
                <mat-icon>lightbulb_outline</mat-icon>
                <span> Note</span>
              </button>

            </div>

            <div>

              <button mat-raised-button fxFlex="97">
                <mat-icon>notifications_none</mat-icon>
                <span> Reminders</span>
              </button>
            </div>
            <div>
              <mat-divider></mat-divider>
              <span class="name">LABELS</span>
            </div>
          </div>
        </div>
        <div>
          <div fxLayout="column" fxLayoutAlign="start-between" fxFlex="100">
            <div >
              <span>
              <button mat-raised-button fxFlex="97">
                
                <div >
                  <div *ngFor="let item of addLabels">
                    <!-- <div>
                   <img src="../../../assets/outline-label-24px.svg">

                    <div style="margin:28%">{{item.label}}</div>
                  </div> -->
                  <mat-icon>label</mat-icon>
                  <div><span>{{item.label}}</span></div>
                  </div>
                </div>
              </button>
            </span>
            </div>
            <div>
              <button mat-raised-button fxFlex="97" (click)="dialogOpen()">
                  <img src="../../../assets/outline-create-24px.svg"><span style="margin:25%">edit label</span>
              </button>
            </div>

            <mat-divider></mat-divider>
            <div>
              <mat-divider class="divider"></mat-divider>
              <button mat-raised-button fxFlex="97">
                <mat-icon>archive</mat-icon>
                <span style="margin:27%">Archive</span>
              </button>
            </div>
            <div>
              <button mat-raised-button fxFlex="97">
                <mat-icon>delete_outline</mat-icon>
                <span style="margin:30%">Trash</span>
              </button>
            </div>
          </div>
        </div>
          </div>
        </mat-sidenav>
        <mat-sidenav-content class="content" >
          
          <div>
          <app-add-note></app-add-note>
        </div>
          <div>
            <app-all-notes></app-all-notes>
          </div>
        
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>