.searchInput{
    display: flex;
    border:none;
    height: 47px;
    width: 55vw;
    background-color: #f1f3f3;
    border-radius: 8px;
    font-size: 15px;
    border-color: transparent;  
    outline: none;
    box-shadow: none;
}
.searchInput::-webkit-input-placeholder {
    color: #81878c;
    font-weight: lighter;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 40px;
}
.mat-icon-button{
    display: flex;
    outline: none;
 }
.sidenav{
    display: flex;
    // width: 22vw;
    position: absolute;
  
    width: 23vw;
    border-right:none;  
    
    
  }
  .sidenav:hover
  {
    overflow-y: scroll;
    
      
}
  .mat-raised-button{

    display: flex;
    outline: none;
    border-color: transparent;
    box-shadow: none;
    height: 8vh;
    border-top-right-radius: 50px 50px;
   border-bottom-right-radius: 50px 50px;
  }
  .mat-raised-button:hover
{
    background-image:none;
    background-color:#f1f3f3;
    border-right: 50px 50px;
}
.mat-raised-button:focus {
    background-color: #fcefc3;
  }
// /deep/.mat-drawer-transition .mat-drawer-content {
//     overflow-y: scroll;
//   }
.title{
    color: #5f6268;
    font-weight:inherit;
    font-size: 20px;
    font-family: Arial, sans-serif;
    }

.mat-toolbar{
    display:flex;
    background-color: white;
    // position: fixed;
}
.mat-divider{
    color:lightgray;
}
.icon{
    width: 45;
    height: 45;
}
.searchButton{
    position: relative;
    width: 40p;
    height: 40px;
    background-color: rgba(236,232,226,0)
}
.name{
    color: #5f6268;
    font-weight:inherit;
    font-size: 12px;
    font-family: Arial, sans-serif;

}
.main
{
    height:302vh;
    background-color: white;
}

