<!-- <mat-card class="label-card">
  <div>
  <textarea [(ngModel)]="UserLabel.labelTitle" placeholder="new label"></textarea>
</div>
<div *ngFor="let label of userLabel">
  <div style="display: flex;
  flex-direction: row;">
  
    <button mat-icon-button (click)="deleteLabel(label)"><mat-icon>delete_outline</mat-icon></button>
     <textarea  class="text-bar" [(ngModel)]="label.labelTitle"></textarea>
    <button mat-icon-button (click)="updateLabel(label)"> <mat-icon>create</mat-icon> </button>
 
  </div>

  </div>
  <div>
  <button mat-raised-button (click)="createLabel()">done</button>
</div>
</mat-card> -->
<div fxAlign="column" FxLayoutGap="20px" fxFlexLayout="space-between start" class="abc">
  <div>
    <span>
    Edit Labels</span>
    <div fxFlexLayout="space-between center" fxAlign="row">
      <button mat-button>
        <img src="../../../assets/download.svg">
      </button>
      <mat-form-field>
        <input matInput type="text" placeholder="Create new label" [(ngModel)]="noteLabel.label">
      </mat-form-field>
      <button mat-button (click)="addLabel()">
        <img src="../../../assets/label_edit.svg">
      </button>
    </div>
  </div>
  <div *ngFor="let item of notelabels" fxAlign="row" fxLayoutAlign="space-between center">

    <button mat-Button (click)="delete(item.id)">
      <mat-icon class="set">delete</mat-icon>

    </button>
    <!-- <div>{{item.label}}</div> -->
    <mat-icon>create</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div>
    <div fxFlexLayout="end">
      <button mat-button  (click)="onNoClick()" cdkFocusInitial>Done</button>
    </div>
  </div>