.outline{
outline:none;
border: transparent;
border-color: transparent;

}
.mat-button{
    outline: none;
   
}
.mat-form-field-::-webkit-input-placeholder {
    color: red;
    // float:none;
    // font-weight: lighter;
    // font-size: 18px;
    // font-family:Arial, Helvetica, sans-serif;
    // line-height: 40px;
}
// .outline1::ng-deep .mat-focused .mat-form-field-placeholder{

// } 

  
//   .outline1 ::mat-form-field-underline{

//     background-color:red;
//   }
// /deep/ .mat-form-field-placeholder {
//     color: #fff; 
//     text-emphasis-color: red  // choose the color you want
//   }