.outline{
outline:none;
border: transparent;
border-color: transparent;

}
.mat-button{    
    outline: none;
   
}
// .mat-form-field-::-webkit-input-placeholder {
//     color: red;
   
// }
.edit{
    outline:none;
    border: transparent;
    border-color: transparent;
    
}
labels{
    background-color: lightgray;
    size:100px;
}
// .example-form {
//     min-width: 150px;
//     max-width: 200px;
//     width: 80%;
//   }
  
//   .example-full-width {
//     width: 80%;
//   }
// .example-full-width
// {
//     // width:43vw; 
//     border-color: transparent;  
//     outline: none;
//     overflow: hidden;

// }
// .outline1::ng-deep .mat-focused .mat-form-field-placeholder{

// } 

  
//   .outline1 ::mat-form-field-underline{

//     background-color:red;
//   }
// /deep/ .mat-form-field-placeholder {
//     color: #fff; 
//     text-emphasis-color: red  // choose the color you want
//   }