<!-- for displaying the small matcard -->
<div fxLayout="row"  fxFlex="70">
<div class="card-center" *ngIf="flag===false" fxLayout="column" fxLayoutAlign="center end" fxFlex="65">
  <!-- <div fxLayout="row" fxLayoutAlign="center end"> -->
  <mat-card (click)="show()" fxLayout="row" fxLayoutAlign="center center" fxFlex="45" class="card-rechange">
    <div>
      <input matInput fxFlex="100" class="search" placeholder="Take a Note...">

    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutGap="10%" fxLayoutAlign="end center">
      <div>

        <button mat-icon-button style="width:100%" matTooltip="new note with drawing" class="icon">
          <mat-icon>brush</mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button style="width:100%" matTooltip="new note with image" class="icon">
          <mat-icon>photo</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
<!-- </div> -->
</div>

<!-- for displaying the another matcard after click on small matcard-->
<div class="card-center1" *ngIf="flag===true" fxLayout="column" fxLayoutAlign="center end" fxFlex="65">
  <mat-card [style.backgroundColor]="setColor" fxLayout="row" fxFlex="72" class="card">
    <div fxLayout="column" fxFlex="20">
       <div>
        <div fxLayout="row" fxFlex="50" fxLayoutGap="0%" fxLayoutAlign="start"> 
          <div >
              <textarea matTextareaAutosize [style.backgroundColor]="setColor" fxLayout="column" class="textAreaa" placeholder="Title"
                [(ngModel)]="addNote.title"></textarea>
            </div>
          <div fxFlexLayout="end">
            <button mat-icon-button matTooltip="Pin note">
              <img src="../../../assets/pin.svg"></button>
          </div>
          </div>
       </div>
      
      
      <div>
        <textarea matTextareaAutosize [style.backgroundColor]="setColor" fxLayout="column" class="textArea" placeholder="Take a Note..."
          [(ngModel)]="addNote.description"></textarea>
      </div>
      <div fxLayout="row" >
      <div>
      <app-icon  (countChange)="receiveColorEvent($event)"></app-icon>
    </div>
    <div >
        <button matbutton fxLayout="row" fxLayoutAlign="space-between end" class="mat-icon-button" (click)="addNotes()">
          Close
        </button>
      </div>
      </div>
    </div>
  </mat-card>
</div>
</div>