<!-- <div fxAlign="row" FxLayoutGap="20px" fxFlexLayout="space-between start" fxFlex="100">
  <div>
        <mat-dialog-content>
          <div fxLayout="column" fxLayoutAlign="start">
      <div>
          <textarea matTextareaAutosize class="textArea" placeholder="Title"
            [(ngModel)]="noteData.title" class="textArea"></textarea>
        </div>
        <div>
            <textarea matTextareaAutosize class="textArea" placeholder="Note"
              [(ngModel)]="noteData.description"></textarea>
          </div>
    </div>
    
      </mat-dialog-content>
    </div>
    <mat-dialog-actions>
      <div><button matbutton [mat-dialog-close]="true" (click)="updateNotes()">close</button>
      </div>
    </mat-dialog-actions>
    </div> -->
<div class="card-center1" fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
<div fxLayout="column" fxFlex="100">

    <div fxLayout="row" fxFlex="50" fxLayoutGap="0%" fxLayoutAlign="start">
      <div  >
        <textarea matTextareaAutosize class="textArea" placeholder="Title"
          [(ngModel)]="noteData.title"></textarea>
      </div>
      <div fxFlexLayout="end">
        <button mat-icon-button matTooltip="Pin note">
          <img src="../../../assets/pin.svg"></button>
      </div>
    </div>
        <div>
      <textarea matTextareaAutosize class="textArea" placeholder="Note"
        [(ngModel)]="noteData.description"></textarea>
    </div>
    <div fxLayout="row">
      <div>
        <app-icon></app-icon>
      </div>
      <div>
        <button mat-flat-button fxLayout="row" fxLayoutAlign="space-between end" class="mat-icon-button"
          [mat-dialog-close]="true" (click)="updateNotes()">
          Close
        </button>
      </div>
    </div>
    </div>
  </div>



<!-- 
<div>
    <div class="card-div">
      <mat-card class="card-size" [style.background-color]="notes.color">
        <div>
          <div>
            <button mat-icon-button style="
                 margin-left: 94%;" (click)="onPin()">
              <div *ngIf="notes.pin===false">
                <img src="https://img.icons8.com/ios/30/000000/pin.png">
              </div>
              <div *ngIf="notes.pin===true">
                <img src="https://img.icons8.com/ios/30/000000/pin-filled.png">
              </div>
            </button>
          </div>
          <div>
            <textarea class="text-bar" [style.background-color]="notes.color" matTextareaAutosize
              [(ngModel)]="notes.title" matInput placeholder="Title"></textarea>
          </div>
          <div>
            <textarea class="text-bar" [style.background-color]="notes.color" matTextareaAutosize
              [(ngModel)]="notes.description" matInput placeholder=" note"></textarea>
          </div>
          
          <div *ngFor="let collaborator of notes.collabUser">
            <button mat-mini-fab (click)="openCollabDialog()">{{collaborator.firstName}}</button>
        </div>
          <mat-chip-list>
            <mat-chip *ngFor="let label of notes.label">
              {{label.labelTitle}}
              <mat-icon matChipRemove (click)="deleteLabelFromNote(label.labelId)">cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="notes.remainder!=null">
              {{notes.remainder | niceDateFormatPipe }}
              <mat-icon matChipRemove (click)="removeRemainder()">cancel</mat-icon>
            </mat-chip>
            
          </mat-chip-list>
  
          <div class="icon-div">
            <div>
              <button mat-icon-button matTooltip="remind me" [matMenuTriggerFor]="datetime">
                <mat-icon>add_alert</mat-icon>
              </button>
            </div>
            <div>
              <button mat-icon-button matTooltip="collaborator" (click)="openCollabDialog()">
                <mat-icon>person_add</mat-icon>
              </button>
            </div>
            <div>
              <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
                <mat-icon>color_lens</mat-icon>
              </button>
            </div>
            <div>
              <button mat-icon-button matTooltip="archive" (click)="onArchive()">
                <mat-icon>archive</mat-icon>
              </button>
            </div>
            <div>
              <button mat-icon-button matTooltip="bin" (click)="onBin()">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
            <div>
              <button mat-icon-button matTooltip="MORE" [matMenuTriggerFor]="extra">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
  
            <div>
  
              <button mat-flat-button style="background-color: transparent" (click)="onClose()">
                close
              </button>
            </div>
  
          </div>
  
        </div>
      </mat-card>
    </div>
  </div>
  
  <div>
    <mat-menu #colorMenu="matMenu" [overlapTrigger]="false">
  
      <div>
        <div *ngFor="let color of colorCode">
          <span *ngFor="let iteam of color">
            <button mat-icon-button [style.background-color]="iteam" (click)="changeColor(iteam)">-->
<!-- <mat-icon style="font-size: 40px" class="colorIcons">fiber_manual_record</mat-icon> -->
<!-- </button>
          </span>
        </div>
      </div>
  
    </mat-menu>
  </div>
  
  <mat-menu #datetime="matMenu">
  
    <button mat-menu-item (click)="todayDate()">
      <div class="time">
        <div>today</div>
        <div>8.00</div>
      </div>
    </button>
    <button mat-menu-item (click)="nextDate()">
      <div class="time">
        <div>tomorrow</div>
        <div>8.00</div>
      </div>
    </button>
    <button mat-menu-item (click)="nextweek()">
      <div class="time">
        <div>next week</div>
        <div>mon,8.00</div>
      </div>
    </button>
  
    <label>
  
      Date Time:
      <input [owlDateTimeTrigger]="dt" (dateTimeChange)="addRemainder($event)" [owlDateTime]="dt">
      <owl-date-time #dt></owl-date-time>
    </label> -->


<!-- </mat-menu>
  
  <mat-menu #extra="matMenu">
    <mat-card (click)="$event.stopPropagation();">
      <button mat-menu-item [matMenuTriggerFor]="label">add label</button>
    </mat-card>
  </mat-menu>
  
  <mat-menu #label="matMenu">
    <mat-card (click)="$event.stopPropagation();">
      <input placeholder="create label" [(ngModel)]="labels.labelTitle">
      <div *ngFor="let label of userLabel">
        <mat-checkbox (click)="addLabel(label)">
          {{label.labelTitle}}
        </mat-checkbox>
  
      </div>
      <button mat-raise-button (click)=addLabel(labels)>add label</button>
    </mat-card>
  </mat-menu>  -->