<div fxLayout="row" fxFlex="100"  fxLayoutAlign="center center" fxLayoutGap="1px">
  <div>
    <button mat-icon-button matTooltip="Remind me">
      <mat-icon>add_alert</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Collaborator">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Change color">
      <mat-icon>color_lens</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button style="width:100%" matTooltip="New note with image">
      <mat-icon>photo</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Archive">
      <mat-icon>archive</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="More">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>


  <!-- <div>
    <button mat-icon-button style="width:100%" matTooltip="new note with image" class="icon">
      <mat-icon>undo</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button style="width:100%" matTooltip="new note with image" class="icon">
      <mat-icon>redo</mat-icon>
    </button>
  </div> -->
