<!-- for displaying the icons below the Note far various purpose -->
<div fxLayout="row" fxFlex="100"  fxLayoutAlign="start end" fxLayoutGap="1px">
  <div>
    <button mat-icon-button matTooltip="Remind me">
        <img src="../../../assets/remindcard.svg">
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Collaborator">
        <img src="../../../assets/collabcard.svg">
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Change color">
        <img src="../../../assets/colorcard.svg">
    </button>
  </div>
  <div>
    <button mat-icon-button style="width:100%" matTooltip="New note with image">
        <img src="../../../assets/cardImage.svg">
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Archive">
        <img src="../../../assets/archivecard.svg">
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="More">
        <img src="../../../assets/more1.png">
    </button>
  </div>
</div>


