<!-- for displaying the icons below the Note far various purpose -->
<div fxLayout="row" fxFlex="100" >
  <div>
    <button mat-icon-button matTooltip="Remind me">
        <img src="../../../assets/remindcard.svg">
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Collaborator">
        <img src="../../../assets/collabcard.svg">
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
        <img src="../../../assets/colorcard.svg">
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="New note with image">
        <img src="../../../assets/cardImage.svg">
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Archive">
        <img src="../../../assets/archivecard.svg">
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="More">
        <img src="../../../assets/more1.png">
    </button>
  </div>
</div>

<div>
    <mat-menu #colorMenu="matMenu" fxFlex="80" [overlapTrigger]="false">
  
      <div>
        <div *ngFor="let color of colorCode" fxLayout="row wrap" >
          <div *ngFor="let iteam of color">
            <button   mat-icon-button [style.background-color]="iteam" (click)="changeColor(iteam)">
              <!-- <mat-icon style="font-size: 40px" class="colorIcons">fiber_manual_record</mat-icon> -->
            </button>
          </div>
        </div>
      </div>
  
    </mat-menu>
  </div>
  

