.smallcard
{
// width: 220px;
margin-top: 30px;
border-radius: 8px;
border-color: transparent;  
outline: none;
background-color: white;
// height: 2vh;

// width: 18vw;
// position:;
} 
// .ssf6{
//     max-width: 240px;
// }
// .main{
//     display: flex;
//     // margin-left: 30%;
//     // padding-left: 159px;
// }

// .smallcard:hover
// {
//     visibility: visible;
//     box-shadow: black;
// }
// .sd8
// {
//     display: flex;
//     width: 900px;
// }
.Card{
    display: flex;
    // min-width: 56vw;
    // width: 100vw;
    // max-width: 57vw;
// display: flex;
     background-color: white;
//     position:relative;
// width: 71vw;
// margin-right: 17%;
// margin-left: 15%;
// width: 60vw;
// width:1132px;

}
.mat-card:hover{
.icon_hover{
visibility: visible;
}
}
.icon_hover
{
visibility: hidden;
}
// .matpad{
//     // margin-top: 8px;
//     // display: inline;
//     //box-shadow: -1px 1px 11px 8px rgba(173, 173, 173, 0.72);
//     // margin-bottom: 8px;
// }

.matpad3{
    margin-top: 8px;
    width: 100vw;
   // box-shadow: -1px 1px 11px 8px rgba(173, 173, 173, 0.72);
    margin-bottom: 8px;
}
.bold{
    word-wrap:break-word;
}
.light{
    word-wrap:break-word; 
}

// .matShade:hover{
//     box-shadow: black;
//     // .matShade:::shadow
//     shad
// }


// .Card_div{
//     display: flex;
//     min-width: 56vw;
//     width: 66vw;
//     max-width: 57vw;
// }
// }

