<!-- for displaying notes i.e title and description on the matcard -->

<div fxLayout="row" fxLayoutAlign="end end" fxFlex="80" class="sd8">
   <!-- <div class="Card" fxLayout="{{direction}} wrap"  fxLayoutAlign="end"  fxFlex="70"> -->
       <div fxLayout="row wrap" class="Card" fxLayoutAlign="end end" fxFlex="85"  class="card_div">
      <div *ngFor="let items of addNotes"  >
        <div   (click)="openDialog(items)" class="matShade" fxLayout="row" fxFlex="70" fxLayoutGap="0px" class="ssf6">
         <div>
           <mat-card   [ngClass]=" direction =='column' ? 'matpad3':'matpad' "  class="smallcard" fxFlex="87" > 
              <div class="123" ><p>{{items.title}}</p></div>
              <div><p>{{items.description}} </p></div>
              
                <app-icon class="icon_hover"></app-icon>
     
          </mat-card>
          </div>
          
        </div>
          <!--  </div>-->
      </div> 
      </div>
      </div>
    <!-- </div> -->